apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Values.clusterRole.name }}
  namespace: {{ .Values.namespace.name }}
rules:
  - apiGroups: ["*"]
    resources: ["*"]
    verbs: ["*"]
    
  - apiGroups:
    - ""
    - "extensions"
    - "apps"
    - "rbac.authorization.k8s.io"
    - "roles.rbac.authorization.k8s.io"
    - "authorization.k8s.io"
    resources: ["*"]
    verbs: ["*"]
