# Service yaml
kind: Service
apiVersion: v1
metadata:
  name: {{ .Values.service.name }}
  namespace : {{ .Values.namespace.name }}
spec:
  selector:
    app: {{ .Values.deployment.name }}
  ports:
  {{- range .Values.service.ports }}
  - name : {{ .port.name }}
    protocol: {{ .port.protocol }}
    port: {{ .port.number }}
    targetPort: {{ .port.targetPort }}
  {{- end }}
  type : {{ .Values.service.type }}
